section.s-sales-leaders-products
   .container
      .section-header
         h2.title-section  Лидеры продаж в разделе кровля
      .sales-leaders-products
         .sales-leaders-products__row
            .sales-leaders-products__col
               include ../../modules/product/prev/prev1
            .sales-leaders-products__col
               include ../../modules/product/prev/prev2
            .sales-leaders-products__col.sales-leaders-products__col--wide
               include ../../modules/product/prev/prev3
         .sales-leaders-products__row
            .sales-leaders-products__col
               include ../../modules/product/prev/prev4
            .sales-leaders-products__col.sales-leaders-products__col--wide
               include ../../modules/product/prev/prev1
            .sales-leaders-products__col
               include ../../modules/product/prev/prev2


