.footer {
    &__title {
        display: block;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__block {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-top {
        background-color: $dark-bg-color;
        color: $white;
        padding: 30px 0;
        padding-bottom: 40px;
    }
    &-main {
        display: flex;
        & > * {
            flex-basis: 0;
            flex-grow: 1;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    &-callback {
        display: flex;
        align-items: center;
        & > * {
            margin: 30px 0;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
        &__img {
            height: 62px;
            max-width: 88px;
        }
    }
    &-bottom {
        background-color: $darkest-bg-color;
        color: rgba($white, .6);
        font-size: 12px;
        padding: 10px 0;
        .container {
            & > * {
                margin: 10px 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__line {
            & > * {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
        &__link {
            color: inherit;
            text-decoration: underline;
            &:hover,&:focus {
                color: $white;
            }
        }
    }
    &-nav {
        &__list {
            & > * {
                margin: 10px 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__item {
            font-size: 15px;
            & > * {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        &__description {
            color: rgba($white, .6);
            font-size: 12px;
        }
        &__link {
            color: $white;
            &:hover,&:focus {
                color: darken($white, 20%);
            }
        }
    }
    &-contacts {
        padding-left: 20px;
        position: relative;

        &__icon {
            left: 0;
            position: absolute;
            top: 0;
            fill: $white;

            @include size(16px);
        }
        &__title {
            display: block;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &__text {
            font-size: 13px;
            line-height: 1.35;
        }
        &__link {
            margin-left: 5px;
            text-decoration: underline;
        }
    }
    &-action {
        position: relative;
        display: inline-block;
    }
}

.payment-types {
    & > * {
        margin: 5px 0;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__list {
        display: flex;
        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &__icon {
        fill: $white;
        @include size(40px);
    }
}
