a(href="#").basket-prev.header-main__basket-prev
   +icon('shopping-cart', 'basket-prev__icon')
   span.basket-prev__title Ваш заказ здесь
   span.basket-prev__count Пока пусто
   span.basket-prev__number 98
