.basket-prev {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $white;
    &__icon {
        margin-bottom: 5px;

        fill: $white;
        @include size(25px);
        @media screen and(max-width: $tablet-size) {
            margin-bottom: 0;
        }
    }
    &__title {
        font-weight: 600;
        line-height: 20px;
        @media screen and(max-width: $tablet-size) {
            display: none;
        }
    }
    &__count {
        font-size: 14px;
        line-height: 18px;
        @media screen and(max-width: $tablet-size) {
            display: none;
        }
    }
    &__number {
        display: none;
        position: absolute;
        top: -12px;
        right: -12px;
        border-radius: 50%;
        color: $base-text-color;
        background-color: $main-action-color;
        font-size: 14px;
        line-height: 24px;
        text-align: center;

        @include size(24px);

        @media screen and(max-width: $tablet-size) {
            display: flex;

            align-items: center;
            justify-content: center;
        }
        @media screen and(max-width: $phone-size) {
            top: -8px;
            right: -8px;
            font-size: 10px;

            @include size(16px);
        }
    }
}
