.basket-prev {
  display: flex;
  flex-direction: column;
  &__icon {
    margin-bottom: 5px;

    fill: $white;

@include size(25px);
  }
  &__title {
    font-weight: 600;
    line-height: 20px;
  }
  &__count {
    font-size: 14px;
    line-height: 18px;
  }
}
