.popup.mfp-hide#popup-reset-password
   .popup__header
      span.popup__title Восстановить пароль
      .popup__close
         +icon('close', 'popup__close-icon')
   .popup__body
      .popup__row
         .popup__col
            form.form
               .form__body
                  .form-line
                     .form-group
                        .form-group__header
                           label.form-group__label Электронная почта
                        .form-group__body
                           input(type="email", placeholder="email@email.com" name="email").input-field
               .form__footer
                  .form-line
                     .form-group
                        input(type="submit", value="Продолжить").btn.btn--size-l.btn--fill
         .popup__col.popup__col--small
            .user-tips
               span.user-tips__text Вспомнили пароль
               a(href="#popup-login").js-popup-link.link-green.link-underline Вход в личный кабинет
