.popup.popup--big.popup--header-white.mfp-hide#popup-video-review
   .popup__header
      span.popup__title Посмотреть отзыв от наших партнеров
      .popup__close
         +icon('close', 'popup__close-icon')
   .popup__body
      iframe(width="100%" height="315" src="https://www.youtube.com/embed/J7UwSVsiwzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
