@font-face {
   font-family: SourceSansPro-Regular;
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/SourceSansPro/SourceSansPro-Regular.woff");
}

@font-face {
   font-family: SourceSansPro-SemiBold;
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/SourceSansPro/SourceSansPro-SemiBold.woff");
}

@font-face {
   font-family: SourceSansPro-Bold;
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/SourceSansPro/SourceSansPro-Bold.woff");
}

@font-face {
   font-family: SourceSansPro-Black;
   font-style: normal;
   font-weight: 800;
   src: url("../fonts/SourceSansPro/SourceSansPro-Black.woff");
}
