// Colors
$white: #ffffff;
$black: #000000;
$main-bg-color: #f2f2f2;
$link-color: #1fa349;
$dark-bg-color: #003333;
$base-text-color: #333333;
$inputPlaceHolderColor: #bababa;
$main-action-Color: #f8e71c;


// Sizes
$base-font-size: 16px;
$content-size: 1240px;
//**
$breakpoints: (
"phone" : 400px,
"phone-wide" : 480px,
"phablet" : 560px,
"tablet-small": 640px,
"tablet" : 768px,
"tablet-wide" : 1024px,
"desktop" : 1248px,
"desktop-wide": 1440px
);

// Fonts
$base-font-family: "SourceSansPro",
Arial,
sans-serif;
