// Colors
$white: #FFF;
$black: #000;
$main-bg-color: #F2F2F2;
$light-bg-color: #f5f5f5;
$link-color: #1FA349;
$link-color-hover: #165F2D;
$link-color-visited: #605BB2;
$dark-bg-color: #033;
$darkest-bg-color: #002C2C;
$base-text-color: #333;
$text-info-color: #BABABA;
$input-border-color: #EDEDED;
$label-text-color: #999797;
$main-action-color: #F8E71C;
$button-green-color: #1FA349;
$warning-color: #ea102b;

$label-color: #1FA349;
$order-status-waiting: #f8e71c;
$order-status-ready: #f5a623;
$order-status-decline: #d0021b;
$order-status-success: #10ae42;

// Sizes
$base-font-size: 16px;
$content-size: 1240px;

$tablet-size: 1180px;
$phone-size: 769px;

// Fonts
$base-font-family: "SourceSansPro",
Arial,
sans-serif;
