@import "dots";
@import "nav";

.slider {
   &__body {
      position: relative;
      @media screen and (max-width: $phone-size) {
         padding: 0 20px;
      }
   }
   &__header {
      display: flex;
      margin-bottom: 20px;

      align-items: center;
   }
   &__count {
      margin-left: auto;
      font-size: 14px;
      @media screen and (max-width: $phone-size) {
         display: none;
      }
   }
   .slick-track {
      margin-left: 0;
   }
}
