.mobile-nav {
    &__wrapper {
        display: none;
        @media screen and(max-width: $phone-size) {
            display: block;
        }

        &.mobile-nav__wrapper--active {
            .mobile-nav__content {
                left: 0;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 3;
        top: 50px;
        right: 0;
        bottom: 0;
        left: -150%;
        width: 100%;
        background-color: $white;
        transition: all linear .4s;
    }
    &__main {
        overflow: auto;
        padding: 20px;

        flex: 1;
    }
    &__callback {
        margin-top: auto;
        padding: 20px;
        color: $white;
        background-color: $dark-bg-color;
    }
    &__list {
        & > * {
            margin: 20px 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__link {
        display: block;
        font-size: 16px;
        line-height: 1.63;
    }
}

.mobile-user-nav {
    &__list {
        & > * {
            margin: 20px 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__link {
        display: block;
        color: $link-color;
        font-size: 16px;
        line-height: 1.63;
    }
}
