.filter {
    border-radius: 4px;
    background-color: $white;
    &__header {
        padding: 15px;
        border-bottom: 1px solid #DEDEDE;
    }
    &__body {
        position: relative;
    }
    &__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
    }
    &__footer {
        display: flex;
        padding: 15px;
        border-top: 1px solid #EDEDED;

        align-items: center;
        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &__clear {
        color: $link-color;
        font-weight: 600;
        cursor: pointer;
    }
    &__link {
        display: block;
        margin-top: 15px;
        color: $link-color;
        font-size: 14px;
        font-weight: 600;
    }
    &__toggle {
        display: flex;
        margin-top: 10px;
        color: $link-color;
        font-size: 14px;

        align-items: center;
        &-text {
            display: flex;
            cursor: pointer;

            align-items: center;
            &:after {
                width: 0;
                height: 0;
                margin-left: 10px;
                border-width: 5px 5px 0 5px;
                border-style: solid;
                border-color: $link-color transparent transparent transparent;
                content: "";
            }
        }
    }
    &-tooltip {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        top: 100px;
        left: 100%;
        padding: 15px;
        border: 2px solid $main-action-color;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
        font-size: 14px;

        align-items: flex-start;
        & > * {
            margin: 5px 0;
            white-space: nowrap;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:after {
            position: absolute;
            top: 50%;
            left: -9px;
            border-bottom: 2px solid $main-action-color;
            border-left: 2px solid $main-action-color;
            background-color: $white;
            content: "";
            transform: translateY(-50%) rotate(45deg);

            @include size(16px);
        }
        &__btn {
            color: $link-color;
            font-weight: 600;
            cursor: pointer;
            &:hover {
               text-decoration: underline;
            }
        }
    }
    &-item {
        border-bottom: 1px solid #DEDEDE;
        &:last-child {
            border-bottom: 0;
        }
        &.filter-item--active {
            .filter-item {
                &__header {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
                &__body {
                    display: block;
                }
            }
        }

        &__header {
            display: flex;
            position: relative;
            padding: 15px;
            cursor: pointer;

            align-items: center;
            &:after {
                position: absolute;
                top: 22px;
                right: 15px;
                width: 0;
                height: 0;
                border-width: 5px 5px 0 5px;
                border-style: solid;
                border-color: #BABABA transparent transparent transparent;
                content: "";
            }
        }
        &__title {
            font-weight: 600;
        }
        &__body {
            display: none;
            padding: 0 15px 15px;
        }
    }
    &-list {
        & > * {
            margin: 10px 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__item {
            display: flex;

            align-items: center;
            justify-content: space-between;
        }
    }
    &-slider {
        &__values {
            display: flex;
            margin-bottom: 15px;

            align-items: center;
            &-line {
                width: 16px;
                height: 2px;
                margin: 0 10px;
                background-color: #333;

                flex-shrink: 0;
            }
        }
        &__line {
            &.noUi-target {
                height: 2px;
                border: 0;
                background: #DEDEDE;
                box-shadow: none;
            }
            .noUi-connect {
                background: rgb(39, 80, 6);
            }
            .noUi-handle {
                top: -7px;
                right: -10px !important;
                border: none;
                border-radius: 50%;
                background: rgb(39, 80, 6);
                box-shadow: none;
                cursor: pointer;

                @include size(16px);
                &:before,&:after {
                    display: none;
                }
            }
        }
    }
}
