$slider-tablet-width: 1239px;

.products-prev-slider {
    position: relative;
}

@media screen and(max-width: $slider-tablet-width) {
    .products-prev-slider {
        .slider-nav {
            display: none !important; // перебиваем инлайновые стили
        }
    }
}
