.order-prev
   .order-prev__header
      span.order-prev__number Заказ № 321-46
      span.order-prev__date от 4 сентября 2018 г.
      .order-status.order-status--decline.order-prev__status  Отменен
      a(href="#").link-green.link-underline.order-prev__link Посмотреть заказ
   .order-prev__body
      .order-prev__block
         .order-prev__item
            .order-prev-line
               span.order-prev-line__label Количество товаров
               .order-prev-line__body
                  span.order-prev-line__value 24 шт.

      .order-prev__block
         .order-prev__item
            .order-prev-line
               span.order-prev-line__label Контактное лицо
               .order-prev-line__body
                  span.order-prev-line__value Виниамин Констонтинопольский
            .order-prev-line
               span.order-prev-line__label Адрес доставки
               .order-prev-line__body
                  span.order-prev-line__value Беларусь, Минск, Введенский канал, 14
                  span.order-prev-line__descr Доставка по минску 21-23 августа
         .order-prev__total
            .order-prev-line
               span.order-prev-line__label Стоимость товаров
               .order-prev-line__body
                  span.order-prev-line__value 10 920 руб.
            .order-prev-line
               span.order-prev-line__label Доставка
               .order-prev-line__body
                  span.order-prev__value 5 000 руб.
            .order-prev-total-price
               span Итого
               span.order-prev-total-price-number 15 920 руб.
