.product-prev
   a(href="").product-prev__header
      .product-prev__marks
         .product-prev__mark.product-prev__mark--bg-yellow -30%
         .product-prev__mark.product-prev__mark--bg-green Хит
      img(src="images/content/products/product-prev-1.png", alt="превью товара").product-prev__img

   a(href="").product-prev__body
      .product-prev__title
         span.product-prev__name Планка стыковачная 30x30x2000 мм, толщина 0.4, цвет грифтовый
         span.count-text 10
      .product-prev__info--wrapper
         .product-prev__info
            span.product-prev__info-label Артикул
            span.product-prev__info-value 13764551
         .product-prev__info.product-prev__info--wide
            span.product-prev__info-label Срок изготовления
            span.product-prev__info-value от 2 до 5 дней
      .product-prev__price
         span.product-prev__price-old 80 руб.
         span.product-prev__price-current 70 руб. за шт

   .product-prev__footer
      button.btn.btn--fill
         +icon('shopping-cart', 'btn__icon')
         span В корзину
