section.s-slider.s-bg-white
   .container
      .slider
         .slider__header
            h2.title-section Вы смотрели
            span.slider__count
         .slider__body
            .slider-nav
               .slider-nav__btn.slider-nav__btn--prev.js-product-slider-prev
                  +icon('left-arrow', 'slider-nav__icon')
               .slider-nav__btn.slider-nav__btn--next.js-product-slider-next
                  +icon('right-arrow', 'slider-nav__icon')
            .js-product-slider
               .slider__item
                  include ./prev/prev1
               .slider__item
                  include ./prev/prev2
               .slider__item
                  include ./prev/prev3
               .slider__item
                  include ./prev/prev4
               .slider__item
                  include ./prev/prev1
               .slider__item
                  include ./prev/prev2
               .slider__item
                  include ./prev/prev3
               .slider__item
                  include ./prev/prev4
