.category-prev
   .category-prev__img(style="background-image:url('images/content/categories/category-prev-6.jpg')")
   .category-list__wrapper
      a(href="#").category-list__title
         span.category-list__title-text Штрипс
         span.count-text 1324
      ul.category-list
         li.category-list__item
            a(href="#").link Металлочерепица
            span.count-text 23
         li.category-list__item
            a(href="#").link Элементы безопасности кровли
            span.count-text 33
         li.category-list__item
            a(href="#").link Лестницы
            span.count-text 25
         li.category-list__item
            a(href="#").link Мостики кровельные
            span.count-text 67
         li.category-list__item
            a(href="#").link-green Все виды кровли
            span.count-text 10
