.category-prev
   .category-prev__img(style="background-image:url('images/content/categories/category-prev-4.jpg')")
   .category-prev__body
      .category-prev__title
         span.category-prev__title-text Профнастил
         span.count-text 134
      ul.category-prev__list
         li.category-prev__item
            a(href="#").link Планка стыковачная
            span.count-text 23
         li.category-prev__item
            a(href="#").link Планка ендовы нижняя
            span.count-text 33
         li.category-prev__item
            a(href="#").link Планка ендовы верхняя
            span.count-text 25
         li.category-prev__item
            a(href="#").link Планка угла наружного
            span.count-text 67
         li.category-prev__item
            a(href="#").link-green Все виды настила
            span.count-text 15
