.category-prev
  .category-prev__img(style="background-image:url('images/content/categories/category-prev-8.jpg")
  .category-prev__body
    .category-prev__title 
      span.category-prev__title-text Другой раздел
      span.category-prev__count 1324
    ul.category-prev__list
      li.category-prev__item
        a(href="#").category-prev__link Металлочерепица
        span.category-prev__count 23
      li.category-prev__item
        a(href="#").category-prev__link Элементы безопасности кровли
        span.category-prev__count 33
      li.category-prev__item
        a(href="#").category-prev__link Лестницы
        span.category-prev__count 25
      li.category-prev__item
        a(href="#").category-prev__link Мостики кровельные
        span.category-prev__count 67
      li.category-prev__item
        a(href="#").category-prev__link Все виды кровли
        span.category-prev__count 10