section.s-actions-prev-small
   .container
      .section-header
         h2.title-section Акции и спецпредложения
         .section-header__right
            a(href="#").link-green.link-underline Все спецпредложения
            span.count-text 123
      .actions-prev-small
         .action-prev-small.action-prev-small--tablet-hide
            .action-prev-small__header(style="background-image:url('images/content/actions/action-prev-1.jpg')")
               a(href="#").btn Купить доборные элементы кровли
            .action-prev-small__body
               .action-prev-small__text
                  span.action-prev-small__description Распродажа
                  span.action-prev-small__title доборных элементов
         .action-prev-small
            .action-prev-small__header(style="background-image:url('images/content/actions/action-prev-2.jpg')")
               a(href="#").btn Купить листы оцинкованные
            .action-prev-small__body
               .action-prev-small__text
                  span.action-prev-small__description Специальное предложение
                  span.action-prev-small__title на листы оцинкованные
         .action-prev-small
            .action-prev-small__header(style="background-image:url('images/content/actions/action-prev-3.jpg')")
               a(href="#").btn Купить профнастил со скидкой
            .action-prev-small__body
               .action-prev-small__text
                  span.action-prev-small__description Скидки до 50%
                  span.action-prev-small__title на профнастил
   .section-mobile-footer
      a(href="#").link-green.link-underline Все спецпредложения
         span.count-text 123
