section.s-sales-leaders
  .container
    .section-header
      h2.title-section Лидеры продаж
    .sales-leaders
      .sales-leaders__row
        .sales-leaders__col
          a(href="#").sales-leader.sales-leader--big
            .sales-leader__img
              img(src="images/content/leader-products/leader-product-1.jpg", alt="фото товара")
            span.sales-leader__name Водосточные трубы
          .sales-leaders__row
            .sales-leaders__col
              a(href="#").sales-leader
                .sales-leader__img
                  img(src="images/content/leader-products/leader-product-2.jpg", alt="фото товара")
                span.sales-leader__name Планка стыковочная 30x30x2000 мм
            .sales-leaders__col
              a(href="#").sales-leader
                .sales-leader__img
                  img(src="images/content/leader-products/leader-product-3.jpg", alt="фото товара")
                span.sales-leader__name Гладкий лист оцинкованный
        .sales-leaders__col
          .sales-leaders__row
            .sales-leaders__col
              a(href="#").sales-leader
                .sales-leader__img
                  img(src="images/content/leader-products/leader-product-4.jpg", alt="фото товара")
                span.sales-leader__name Кусок бесполезного металла
            .sales-leaders__col
              a(href="#").sales-leader
                .sales-leader__img
                  img(src="images/content/leader-products/leader-product-1.jpg", alt="фото товара")
                span.sales-leader__name Подсистема вентилируемого фасада
          .sales-leaders__row
            a(href="#").sales-leader.sales-leader--big
              .sales-leader__img
                img(src="images/content/leader-products/leader-product-5.jpg", alt="фото товара")
              span.sales-leader__name Планка стыковочная 30x30x2000 мм, толщина 0.4, цвет графитовый
            