section.s-product-slider.s-bg-white
  .container
    .section-header
      h2.title-section Вы смотрели
      .section-header__right
        span.product-slider__count
    .products-prev-slider
      .slider-nav.slider-nav--prev
        +icon('left-arrow', 'slider-nav__icon')
      .slider-nav.slider-nav--next
        +icon('right-arrow', 'slider-nav__icon')
      .js-product-slider
        include ../../modules/product/prev1
        include ../../modules/product/prev2
        include ../../modules/product/prev3
        include ../../modules/product/prev4
        include ../../modules/product/prev1
        include ../../modules/product/prev2
        include ../../modules/product/prev3
        include ../../modules/product/prev4