.file-upload {
    display: flex;
    cursor: pointer;

    align-items: center;
    input[type="file"] {
        display: none;
    }
    &__custom {
        display: flex;
        color: #1FA349; // hex
        font-weight: 600;

        align-items: center;
        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &__icon {
        fill: #1FA349; // hex
        @include size(14px);
    }
}
