.file-upload {
    align-items: center;
      display: flex;
      cursor: pointer;
    input[type="file"] {
        display: none;
    }
    &__custom {
            display: flex;
            align-items: center;
        color: #1FA349; // hex
        font-weight: 600;
        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &__icon {
        fill: #1FA349; // hex
        @include size(14px);
    }
}
