.form-group {
   flex: 1;
   & > * {
      margin: 10px 0;
      &:first-child {
         margin-top: 0;
      }
      &:last-child {
         margin-bottom: 0;
      }
   }
   &.form-group {
      &--required {
         .form-group {
            &__label {
               &:after {
                  position: absolute;
                  top: -8px;
                  right: -10px;
                  color: $warning-color;
                  font-size: 17px;
                  content: "*";
               }
            }
         }
      }
      &--width {
         &-m {
            max-width: 245px;

            flex: 0 0 245px;
            flex-shrink: 0;
            @media screen and (max-width: $phone-size) {
               max-width: 100%;

               flex: 0 0 100%;
               flex-shrink: 0;
            }
         }
         &-xl {
            max-width: 400px;

            flex: 0 0 400px;
            @media screen and (max-width: $phone-size) {
               max-width: 100%;

               flex: 1;
            }
         }
      }
   }
   &__label {
      display: block;
      position: relative;
      margin-bottom: 10px;
      color: $label-text-color;
      font-size: 12px;
      letter-spacing: .65px;
      text-transform: uppercase;
   }
   &__header {
      display: flex;
      font-size: 14px;

      align-items: baseline;
      justify-content: space-between;
   }
}

.form-group-submit {
   display: flex;
   & > * {
      &:not(:last-child) {
         margin-right: 20px;
      }
   }
}
