.input-field {
    height: 50px;
    padding: 10px 15px;
    font-family: inherit;
    color: $base-text-color;
    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    box-shadow: none;
    outline: none;

    @include placeholder {
        color: $text-info-color;
    }
    &.input-field--size-small {
        height: 40px;
        font-size: 14px;
        line-height: 20px;
    }
}
