.product-prev.product-prev--basket
   a(href="#").product-prev__header
      img(src="images/content/products/product-prev-1.png", alt="превью товара").product-prev__img

   a(href="#").product-prev__body
      .product-prev__title
         span.product-prev__name Планка стыковачная 30x30x2000 мм, толщина 0.4, цвет грифтовый
         span.count-text 10
      .product-prev__price
         span.product-prev__price-old 80 руб.
         span.product-prev__price-current 70 руб. за шт

   .product-prev__footer
      button.btn.btn--fill.btn--product
         +icon('shopping-cart', 'btn__icon')
         span В корзину
