.cabinet-nav
   ul.cabinet-nav__list
      li.cabinet-nav__item.cabinet-nav__item--active
         a(href="#").cabinet-nav__link Мой профиль
      li.cabinet-nav__item
         a(href="#").cabinet-nav__link Мой заказы
      li.cabinet-nav__item
         a(href="#").cabinet-nav__link Мой настройки
