include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="theme-color" content="#000")

		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		
		link(rel="stylesheet" type='text/css' href="css/style.min.css")

	body(class=pageClass)
			include ../modules/header
			main
				block content
			include ../modules/footer
			script(src="js/libs.min.js")
			script(src="js/main.js")
			block script