.header {
  .container {
    display: flex;
    align-items: center;
  }
  &-top {
    padding: 12px 0;
    &__user-nav {
      margin-left: auto;
    }
    &__main-nav {
      margin-left: 80px;
    }
  }
  &-main {
    padding: 20px 0;

    background-color: $dark-bg-color;
  }
}
