.header {
    color: $white;
    .container {
        display: flex;

        align-items: center;
        justify-content: space-between;
    }
    &-top {
        padding: 12px 0;
        color: $base-text-color;
        &__user-nav {
            margin-left: auto;
        }
        &__main-nav {
            margin-left: 100px;
            @media screen and(max-width: $tablet-size) {
                margin-left: 40px;
            }
        }
    }
    &-main {
        position: relative;
        padding: 20px 0;
        color: $white;
        background-color: $dark-bg-color;
        .container {
            position: relative;
            & > * {
                &:not(:last-child) {
                    margin-right: 40px;
                    @media screen and(max-width: $tablet-size) {
                        margin-right: 0;
                    }
                }
            }
        }
        @media screen and(max-width: $tablet-size) {
            &__search {
                order: 1;
            }
            &__order-callback {
                order: 3;
            }
        }
        &__basket-prev {
            margin-left: auto;
            @media screen and(max-width: $tablet-size) {
                margin-right: 30px;
                margin-left: 0;

                order: 2;
            }
        }
    }
    &-actions {
        display: flex;

        align-items: center;
        @media screen and(max-width: $tablet-size) {
            order: 3;
        }
        & > * {
            &:not(:last-child) {
                margin-right: 40px;
                @media screen and(max-width: $tablet-size) {
                    margin-right: 30px;
                }
                @media screen and(max-width: $tablet-size) {
                    &.order-callback {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
