.categories-prev {
    &__btn {
        width: 30px;
        height: 30px;
    }
}

.js-categories-prev {
    display: flex;

    flex-wrap: wrap;

    @media screen and(max-width: $phone-size) {
        flex-direction: column;
    }

    & > * {
        max-width: 295px;
        margin-right: 20px;
        margin-bottom: 30px;

        flex: 1;
        flex-basis: calc(25% - 20px);

        @media screen and(max-width: $tablet-size) {
            max-width: 33%;
            margin-right: 25px;
            margin-bottom: 25px;

            flex-basis: calc(33% - 25px);
        }

        @media screen and(max-width: $phone-size) {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;

            flex: 1;
        }

        &:nth-child(4n+4) {
            margin-right: 0;
            @media screen and(max-width: $tablet-size) {
                margin-right: 25px;
            }
            @media screen and(max-width: $phone-size) {
                margin-right: 0;
            }
        }
        @media screen and(max-width: $tablet-size) {
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}

.categories-prev {
    position: relative;
    &__navigation {
        display: none;
        @media screen and (max-width:$phone-size) {
            display: block;
        }
    }
}

.category-prev {
    overflow: hidden;
    border-radius: 4px;
    background-color: $white;
    &.category-prev--tablet-hide {
        @media screen and(max-width: $tablet-size) {
            display: none;
        }
        @media screen and(max-width: $phone-size) {
            display: block;
        }
    }
    &__img {
        height: 180px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__body {
        padding: 15px;
    }
    &__title {
        margin-bottom: 20px;
        &-text {
            font-size: 22px;
            font-weight: 700;
        }
    }
    &__item {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 500;
        &:last-child {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}
