@import "category-prev";
@import "sub-category";

.often-looking {
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    & > * {
        border-right: 1px solid #F2F2F2;
        flex: 1;
        &:last-child {
            border-right: 0;
        }
    }
    .category-list__wrapper {
        margin-bottom: 0;
    }
}
