ul
   li
      a(href="index.html") Главная
   li
      a(href="catalog.html") Каталог
   li
      a(href="about.html") О компании
   li
      a(href="action.html") Страница одной акции
   li
      a(href="actions.html") Страница акций
   li
      a(href="categories.html") Категории
   li
      a(href="sub-category.html") Подкатегория
   li
      a(href="contacts.html") Контакты
   li
      a(href="site-map.html") Карта сайта
   li
      a(href="site-map.html") Кабинет пользователя

