extends template/main

block content
   .container
      ul.preview-list
         li
            a(href="index.html") Главная
         li
            a(href="catalog.html") Каталог
         li
            a(href="action.html") Страница одной акции
         li
            a(href="actions.html") Страница акций
         li
            a(href="categories.html") Категории
         li
            a(href="sub-category.html") Страница покупок
         li
            a(href="contacts.html") Контакты
         li
            a(href="site-map.html") Карта сайта
         li
            a(href="cabinet.html") Кабинет пользователя
         li
            a(href="cabinet-orders.html") Кабинет пользователя - заказы
         li
            a(href="cabinet-settings.html") Кабинет пользователя - настройки

