.location {
  // flex: 0 0 165px;
  // width: 165px;
  &__header {
    display: flex;
    align-items: center;

    cursor: pointer;
    & > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__current {
    display: flex;
    align-items: center;

    &:after {
      content: "";

      width: 0;
      height: 0;
      margin-left: 10px;

      border-width: 4px 4.5px 0 4.5px;
      border-style: solid;
      border-color: #000000 transparent transparent transparent;
    }
  }
}
