.location {
    $locationWidth: 175px;
    flex-basis: $locationWidth;
    position: relative;
    &__header {
        display: flex;
        align-items: center;
        cursor: pointer;
        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    &__icon {
        width: 15px;
        height: 14px;
        fill: $base-text-color;
        flex-shrink: 0;
    }

    &__current {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:after {
            position: absolute;
            z-index: 1;
            right: 0;
            content: "";
            width: 0;
            height: 0;
            margin-left: 10px;
            border-width: 4px 4.5px 0 4.5px;
            border-style: solid;
            border-color: #000 transparent transparent transparent;
        }
    }
    &__body {
        &.is-location-choose {
            .location-choose {
                display: block;
            }
        }
    }
    &-question {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        box-shadow: 0 0 5px 0 rgba(159, 197, 178, .5);
        z-index: 1;
        background-color: $white;
        padding: 6px 10px;
        border-radius: 4px;
        & > * {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        &::before {
            border-color: transparent transparent $white transparent;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            content: "";
            height: 0;
            left: 100px;
            position: absolute;
            top: -9px;
            width: 0;
            z-index: 2;
        }
        &__buttons {
            display: flex;
            align-items: center;
            & > * {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        &__text {
            font-size: 17px;
            line-height: 1.44;
            font-weight: 600;
            white-space: nowrap;
        }
    }
    &-choose {
        display: none;
        width: 218px;
        position: absolute;
        top: 10px;
        left: 20px;
        background-color: $white;
        z-index: 1;
        box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
        border: 2px solid $main-action-color;
        &__header {
            border-bottom: 2px solid $main-action-color;
        }
        &__item {
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            padding: 6px 15px;
            cursor: pointer;
            transition: all linear .2s;
            &:hover,&:focus {
                background-color: $main-action-color;
            }
        }
        &__body {
            display: flex;
            flex-direction: column;
            position: relative;
            height: auto;
            max-height: 240px;
            &:after,&:before {
                content: "";
                height: 30px;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
            }
            &:before {
                top: 0;
                background-image: linear-gradient(to bottom, $white, rgba(255, 255, 255, 0));
            }
            &:after {
                bottom: 0;
                background-image: linear-gradient(to top, $white, rgba(255, 255, 255, 0));
            }
        }
        &__list {
            padding: 15px 0;
            height: 100%;
            overflow: auto;
            height: 100%;
        }
    }
}
