.questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ask-your-question {
    display: flex;
    align-items: center;
    font-weight: 500;
    & > * {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        & > * {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &__icon {
        @include size(24px);
        fill: $base-text-color;
    }
}

@media screen and(max-width: $tablet-size) {
    .ask-your-question {
        &__text {
            display: none;
        }
        &__icon {
            @include size(22px);
        }
    }
}
