.review-line {
    height: 100%;
    position: absolute;
    top: 30px;
    height: 5px;
    left: 1px;
    z-index: 1;
    width: 0;
    background-color: $main-action-color;
    transition: all linear .3s;
    &__wrapper {
        position: relative;
        padding: 30px 0;
    }
    &__inner {
        background-color: $input-border-color;
        height: 5px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        border-left: 1px solid #DEDEDE;
        height: 20px;
        margin-bottom: -5px;
        &.review-line__item {
            &--active {
                .review-line__number {
                    background-color: $main-action-color;
                }
            }
            &--descr {
                &-right {
                    &:before {
                        left: auto;
                        right: 0;
                    }
                }
                &-center {
                    &:before {
                        left: -50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        &:before {
            content: attr(data-fast-review);
            display: block;
            font-size: 12px;
            color: $text-info-color;
            position: absolute;
            top: -20px;
            left: 0;
            white-space: nowrap;
        }
    }
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        left: -12px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 24px;
        height: 24px;
        width: 24px;
        text-align: center;
        &:hover,&:focus {
            background-color: $white;
        }
        cursor: pointer;
    }
}
