.sales-leaders {
    &__row {
        display: flex;
        @media screen and (max-width: $phone-size) {
            flex-direction: column;
        }
        & > * {
            &:not(:last-child) {
                margin-right: 20px;
                @media screen and (max-width: $phone-size) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__col {
        flex: 1;
    }
}

.sales-leader {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: $white;
    transition: all linear .3s;
    @media screen and (max-width: $phone-size) {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 0;

        align-items: center;
    }
    &:hover,&:focus {
        border-color: $main-action-color;
    }

    &.sales-leader--big {
        height: 400px;

        @media screen and (max-width: $tablet-size) {
            height: 300px;
        }
        @media screen and (max-width:$phone-size) {
            display: block;
            height: auto;
            &:first-child {
                margin-bottom: 20px;
            }
            &:last-child {
                margin-top: 20px;
            }
        }
        .sales-leader {
            &__name {
                font-size: 22px;
                @media screen and (max-width:$phone-size) {
                    font-size: 16px;
                }
            }
            &__img {
                height: 280px;
                @media screen and (max-width:$tablet-size) {
                    height: 180px;
                }
                @media screen and (max-width:$phone-size) {
                    width: 100%;

                    flex: 1;
                }

                img {
                    max-height: 280px;
                    @media screen and (max-width:$tablet-size) {
                        height: 180px;
                    }
                }
            }
            @media screen and (max-width:$tablet-size) {
                padding: 10px;
            }
        }
    }
    &__img {
        display: flex;
        height: 140px;
        margin-bottom: 10px;

        align-items: center;
        justify-content: center;
        @media screen and (max-width:$phone-size) {
            width: 40%;

            flex: 0 0 40%;
        }
        img {
            max-width: 100%;
            max-height: 140px;
        }
    }
    &__name {
        font-weight: 700;
    }
}
