.sales-leaders {
    &__row {
        display: flex;
        & > * {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    &__col {
        width: 50%;

        flex-grow: 1;
    }
}

.sales-leader {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: $white;
    transition: all linear .3s;
    &:hover,&:focus {
        border-color: $main-action-color;
    }

    &.sales-leader--big {
        height: 400px;

        @media screen and (max-width: $tablet-size) {
            height: 300px;
        }
        .sales-leader {
            @media screen and (max-width:$tablet-size) {
                padding: 10px;
            }
            &__img {
                height: 280px;
                img {
                    max-height: 280px;
                }
            }
            @media screen and (max-width:$tablet-size) {
                &__img {
                    height: 180px;
                    img {
                        max-height: 180px;
                    }
                }
            }
            &__name {
                font-size: 22px;
            }
        }
    }
    &__img {
        display: flex;
        height: 140px;
        margin-bottom: 10px;

        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 140px;
        }
    }
    &__name {
        font-weight: 700;
    }
}
