.s {
  &-bg-white {
    background-color: $white;
  }
  &-popular-categories {
    padding-bottom: 10px;
  }
  &-sales-leaders {
    padding-bottom: 20px;
  }
  &-question {
    padding: 10px 0;
  }
}

.section-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;

  &__right {
    margin-left: auto;
  }

}
