.slider-nav {
    position: absolute;
    z-index: 100;
    top: 50%;
    transition: all linear .3s;
    transform: translateY(-50%);
    &__icon {
        opacity: .5;
        cursor: pointer;

        fill: #333;
        @include size (35px);

        &:hover,&:focus {
            opacity: 1;
        }
    }
    &.slider-nav--prev {
        left: -35px;
    }
    &.slider-nav--next {
        right: -35px;
    }
    &.slick-disabled {
        opacity: .5;
        cursor: default;
    }
}

$slider-break-point-tablet: 1239px;
@media screen and(max-width: $slider-break-point-tablet) {
    .slick-dots {
        display: flex;
        margin-top: 30px;

        align-items: center;
        justify-content: center;

        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        .slick-active {
            button {
                background-color: $main-action-color;
            }
        }
        button {
            display: block;
            padding: 0;
            border: 0;
            border-radius: 2px;
            background-color: $light-bg-color;
            background-color: #DEDEDE; // hex
            text-indent: -99999px;

            @include size(13px);
        }
    }
}
