@import "location";
@import "pages";
@import "links";
@import "logo";
@import "banner";
@import "section";
@import "sales-leaders";
@import "review-line";
@import "slider-page-main";
@import "questions";
@import "bread-crumbs";
@import "tag";
@import "sort";
@import "tab";
@import "pagination";
@import "color";


.search {
    display: flex;

    align-items: center;
    & > * {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    &__icon {
        fill: $white;
        @include size(22px);
    }
    .input-field {
        width: 244px;
        @media screen and(max-width: $tablet-size) {
            display: none;
        }
    }
}
.order-callback {
    display: flex;
    flex-direction: column;
    &__link {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .25px;
    }
    &__phone {
        color: $main-action-color;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.5;
        white-space: nowrap;
    }
    &__description {
        font-size: 12px;
    }
}
.title {
    &-page {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.25;
        @media screen and (max-width:$phone-size) {
            font-size: 30px;
        }
        .count-text {
            font-size: 27px;
        }
    }
    &-section {
        color: $base-text-color;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.25;
        @media screen and (max-width:$phone-size) {
            font-size: 30px;
        }
        &--small {
            font-size: 30px;
            @media screen and (max-width: $phone-size) {
               font-size: 26px;
            }
        }
    }
}
.count-text {
    margin-left: 5px;
    color: $text-info-color;
    font-size: 14px;
}

.page-counter {
    display: flex;
    padding: 15px 20px;
    font-size: 14px;

    align-items: center;
    flex: 0 0 auto;
    & > * {
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
    &__text {
        @media screen and (max-width: $tablet-size) {
            display: none;
        }
        @media screen and (max-width: $phone-size) {
            display: block;
        }
    }
}

.counter {
    display: inline-flex;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    background-color: $white;

    align-items: center;
    &__btn {
        display: flex;
        background-color: #FAFAFA;
        cursor: pointer;

        align-items: center;
        @include size(40px);
        justify-content: center;
    }
    &__icon {
        fill: #BABABA;
        @include size(15px);
    }
    &__current {
        display: flex;
        width: 90px;
        padding: 0 10px;
        line-height: 40px;

        align-items: center;
        flex-basis: 90px;
        @media screen and (max-width: $tablet-size) {
            width: 65px;

            flex: 0 0 65px;
        }
        & > * {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}

.upgrade {
    display: flex;
    font-size: 14px;
    font-weight: 600;

    align-items: center;
    & > * {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__icon {
        margin: auto;

        fill: $white;
        @include size(10px);
        &-wrapper {
            display: flex;
            border-radius: 50%;
            background-color: $text-info-color;

            @include size(16px);
        }
    }
}

