@import "location";
@import "links";
@import "logo";
@import "banner";
@import "section";
@import "sales-leaders";
@import "review-line";
@import "slider-page-main";
@import "questions";


.search {
    display: flex;
    align-items: center;
    & > * {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    &__icon {
        fill: $white;
        @include size(22px);
    }
    .input-field {
        width: 244px;
        @media screen and(max-width: $tablet-size) {
            display: none;
        }
    }
}
.order-callback {
    display: flex;
    flex-direction: column;
    &__link {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: .25px;
    }
    &__phone {
        font-weight: 800;
        font-size: 24px;
        line-height: 1.5;
        color: $main-action-color;
        white-space: nowrap;
    }
    &__description {
        font-size: 12px;
    }
}
.title {
    &-page {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.25;
    }
    &-section {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.25;
        color: $base-text-color;
    }
}
.count-text {
    margin-left: 5px;
    font-size: 14px;
    color: $text-info-color;
}

.upgrade {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    & > * {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__icon {
        margin: auto;
        fill: $white;
        @include size(10px);

        &-wrapper {
            display: flex;
            background-color: $text-info-color;
            border-radius: 50%;
            @include size(16px);
        }
    }
}
