.catalog-nav.header-main__catalog-nav
	.catalog-nav__header
		.sandwich
			.sandwich__line.sandwich__line-top
			.sandwich__line.sandwich__line-middle
			.sandwich__line.sandwich__line-bottom
		span.catalog__title Каталог стройматериалов
	.catalog-nav__body
		ul.catalog-nav__list
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Рулонная сталь
				include catalog-subnav/catalog-subnav-1

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Профнастил
				include catalog-subnav/catalog-subnav-2

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Листовой прокат
					span.count-text 23
				include catalog-subnav/catalog-subnav-3

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Фасад
				include catalog-subnav/catalog-subnav-4

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Распродажа
				include catalog-subnav/catalog-subnav-5

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Специальные предложения
				include catalog-subnav/catalog-subnav-6

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Фасад
				include catalog-subnav/catalog-subnav-7

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Специальные предложения
				include catalog-subnav/catalog-subnav-8

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Фасад
				include catalog-subnav/catalog-subnav-9

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Специальные предложения
				include catalog-subnav/catalog-subnav-10

			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Фасад
				include catalog-subnav/catalog-subnav-11

