.btn {
    display: inline-flex;
    padding: 8px 20px;
    border: 0;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: $main-action-color;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;

    align-items: baseline;
    @media screen and (max-width:$tablet-size) {
        padding: 8px 10px;
    }
    @media screen and (max-width:$phone-size) {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis; // перенос кнопок под вопросом
      //   white-space: normal;
    }
    & > * {
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
    &:hover,&:focus {
        background-color: #F0DE01;
    }
    &:active {
        background-color: darken($main-action-color, 15%);
    }
    &__icon {
        @include size(20px);
    }
    &.btn {
        &--fill {
            width: 100%;
            justify-content: center;
        }
        &--transparent-green {
            color: $button-green-color;
            background-color: transparent;
            &:hover,&:focus {
                background-color: rgba($button-green-color, .2);
            }
        }
        &--arrow-down {
            position: relative;

            .btn__text {
                padding-right: 25px;

                &:after {
                    position: absolute;
                    top: 45%;
                    right: 20px;
                    width: 0;
                    height: 0;
                    border-width: 6px 7px 0 7px;
                    border-style: solid;
                    border-color: $link-color transparent transparent transparent;
                    content: "";
                    transform: translateX(-50%);
                    transform: translateX(-50%);
                }
                @media screen and (max-width: $phone-size) {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        &--product {
            @media screen and (max-width:$phone-size) {
                display: flex;
            }
        }
        &--disabled {
            opacity: .5;
        }
        &--bg-green {
            color: $white;
            background-color: $button-green-color;
        }
        &--border-green {
            border-color: $button-green-color;
            color: $button-green-color;
            background-color: $white;
        }
        &--size {
            &-s {
                padding: 3px 15px;
            }
            &-l {
                padding: 12px 27px;
            }
        }
        &--size-font {
            &-l {
                font-size: 22px;
            }
        }
    }
}
