.btn {
    display: flex;
    padding: 8px 20px;
    border: 0;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: $main-action-color;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;

    align-items: center;
    @media screen and (max-width:$tablet-size) {
        padding: 8px 10px;
    }
    @media screen and (max-width:$phone-size) {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & > * {
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
    &:hover,&:focus {
        background-color: #F0DE01;
    }
    &:active {
        background-color: darken($main-action-color, 15%);
    }
    &__icon {
        @include size(20px);
    }
    &.btn {
        &--fill {
            width: 100%;
            border-radius: 0;

            justify-content: center;
        }
        &--transparent-green {
            color: $button-green-color;
            background-color: transparent;
        }
        &--product {
            @media screen and (max-width:$phone-size) {
                display: flex;
            }
        }
        &--disabled {
            opacity: .5;
        }
        &--bg-green {
            color: $white;
            background-color: $button-green-color;
        }
        &--border-green {
            border-color: $button-green-color;
            color: $button-green-color;
            background-color: $white;
        }
        &--size {
            &-s {
                padding: 3px 15px;
            }
            &-l {
                padding: 12px 27px;
            }
        }
    }
}
