footer.footer
  .footer-main
  .footer-bottom
    .container
      .footer-bottom__line
        span.copyright © 2018 Завод "Веневский"
        a(href="#").footer-bottom__link Политика конфиденциальности
        a(href="#").footer-bottom__link Карта сайта
      .footer-bottom__line
        p.footer-bottom__text Сайт venevsky.ru носит исключительно информационный характер и не при каких условиях не является публичной офертой, определяемой положениями ГК РФ.
        p.footer-bottom__text Для получения пдробной информации о наличии, видах, характеристиках и стоимости материалов, пожалуйста, обращайтесь в офисы продаж.