.popup {
    position: relative;
    max-width: 520px;
    margin: 50px auto;
    border-radius: 8px;
    &__title {
        font-size: 18px;
        line-height: 1.44;
    }
    &__subtitle {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.44;
    }
    &__header {
        display: flex;
        padding: 15px 25px 15px 40px;
        background-color: $light-bg-color;

        align-items: center;
    }
    &__close {
        display: flex;
        margin-left: auto;
        opacity: .4;
        cursor: pointer;

        align-items: center;
        @include size(25px);
        justify-content: center;
        &:hover,&:focus {
            opacity: .8;
        }
        &-icon {
            @include size(16px);
        }
    }
    &__body {
        padding: 40px;
        background-color: $white;
    }
}

.mfp-bg {
    opacity: .5;
    background-color: $base-text-color;
}
