.employees-list {
   display: flex;

   flex-wrap: wrap;
   @media screen and (max-width: $phone-size) {
      flex-direction: column;
   }
   & > * {
      margin-bottom: 30px;
      @media screen and (max-width: $phone-size) {
         margin-bottom: 10px;
      }
   }
}

.employee {
   display: flex;
   flex-direction: column;
   width: calc((100% - 100px) / 6);
   margin-right: 20px;

   align-items: center;
   @media screen and (max-width: $tablet-size) {
      width: calc((100% - 60px) / 4);
   }
   @media screen and (max-width: $phone-size) {
      flex-direction: row;
      width: 100%;
      margin-right: 0;
   }
   &:nth-child(6n+6) {
      margin-right: 0;
      @media screen and (max-width: $tablet-size) {
         margin-right: 20px;
      }
   }
   &:nth-child(4n+4) {
      @media screen and (max-width: $tablet-size) {
         margin-right: 0;
      }
   }

   & > * {
      margin: 7px 0;
      @media screen and (max-width: $phone-size) {
         margin: 0 15px 0 0;
      }
      &:first-child {
         margin-top: 0;
      }
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__img {
      max-width: 100%;
      &-wrapper {
         overflow: hidden;
         border-radius: 4px;

         @include size(150px);
         @media screen and (max-width: $phone-size) {
            flex-shrink: 0;
            @include size(80px);
         }
      }
   }
   &__name {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      text-align: center;
      @media screen and (max-width: $phone-size) {
         text-align: left;
      }
   }
}
