.s-breadcrumbs {
    padding-bottom: 20px;
    & + section {
        padding-top: 0;
        .section-header {
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: $tablet-size) {
        padding-top: 20px;
    }
    @media screen and (max-width: $phone-size) {
        padding-top: 10px;
    }
}

.breadcrumbs {
    display: flex;
    font-size: 14px;

    align-items: center;
    @media screen and (max-width: $phone-size) {
        overflow-x: auto;
        overflow-y: hidden;
    }
    &.dropdown--show {
        .dropdown__body {
            @media screen and (max-width:$phone-size) {
                display: none;
            }
        }
    }
    &__home {
        &-icon {
            @include size(17px);
        }
    }

    &__item {
        display: flex;
        position: relative;
        white-space: nowrap;

        align-items: center;
        &:after {
            display: block;
            margin: 0 10px;
            color: $base-text-color;
            content: "/";
        }
        &:last-child {
            &:after {
                display: none;
            }
            .breadcrumbs__label {
                &:before {
                    display: none;
                }
            }
        }
        &:hover,&:focus {
            .breadcrumbs-tooltip {
                @media screen and (min-width: $phone-size) {
                    display: block;
                }
            }
        }
    }
    &__label {
        position: relative;
        padding-right: 20px;
        cursor: pointer;
        @media screen and (max-width: $phone-size) {
            padding-right: 0;
        }
        &:before {
            display: block;
            position: absolute;
            top: 5px;
            right: 0;
            width: 0;
            height: 0;
            border-width: 5px 5px 0 5px;
            border-style: solid;
            border-color: $base-text-color transparent transparent transparent;
            content: "";
            @media screen and (max-width: $phone-size) {
                display: none;
            }
        }
    }
    &__link {
        position: relative;
        padding-right: 20px;
        cursor: pointer;
        @media screen and (max-width: $phone-size) {
            padding-right: 0;
        }
        &:before {
            display: block;
            position: absolute;
            top: 7px;
            right: 0;
            width: 0;
            height: 0;
            border-width: 5px 5px 0 5px;
            border-style: solid;
            border-color: $base-text-color transparent transparent transparent;
            content: "";
            @media screen and (max-width: $phone-size) {
                display: none;
            }
        }
        &:hover,&:focus {
            color: #D0021B;
        }
    }

    &-tooltip {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        width: 250px;
        padding: 10px;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0 , .2);
        font-size: 13px;
        &__text {
            color: $base-text-color;
            white-space: normal;
        }
    }
}
