.tab.tab-category
   .category-list__wrapper
      a(href="#").category-list__title
         span.category-list__title-text Категории
         span.count-text 1234
      ul.category-list
         li.category-list__item
            a(href="#").link Простые комплекты
            span.count-text 23
         li.category-list__item
            a(href="#").link Водосточные трубы
            span.count-text 98
         li.category-list__item
            a(href="#").link Желоб водосточный
            span.count-text 14
         li.category-list__item
            a(href="#").link Воронка желоба выпускная
            span.count-text 7
         li.category-list__item
            a(href="#").link Все водосточные системы
            span.count-text 13
