.tab.tab-often.often-looking-mobile
   .category-list__wrapper
      ul.category-list
         li.category-list__item
            a(href="#").link Доборные элементы кровли зеленого цвета
            span.count-text 23
         li.category-list__item
            a(href="#").link Доборные элементы кровли красного цвета
            span.count-text 98
         li.category-list__item
            a(href="#").link Доборные элементы кровли желтого цвета
            span.count-text 14
         li.category-list__item
            a(href="#").link Доборные элементы кровли белого цвета
            span.count-text 7
         li.category-list__item
            a(href="#").link Доборные элементы кровли зеленого цвета
            span.count-text 23
         li.category-list__item
            a(href="#").link Доборные элементы кровли красного цвета
            span.count-text 98
         li.category-list__item
            a(href="#").link Доборные элементы кровли желтого цвета
            span.count-text 14
         li.category-list__item
            a(href="#").link Доборные элементы кровли белого цвета
            span.count-text 7
