.tags
   .tags__body
      span.tags__title Часто ищут
      .tag
         span.tag__text Разжелобок из оцинкованной стали
         span.count-text 123
      .tag
         span.tag__text Планка стыковачная толшиной 0.4 мм
         span.count-text 123
      .tag
         span.tag__text Планка угла наружного
         span.count-text 123
      .tag
         span.tag__text Еще один запрос
         span.count-text 123
   span.tags__toggle Все запросы
